CMakeLists.txt.*
build*/

.DS_Store
.qmake.stash

qt/KeepassX.pro.user*
qt/ui_*
qt/moc_*
qt/Debug*

KeepassX.xcodeproj
project.xcworkspace
xcuserdata
xcshareddata

qt_makeqmake.mak
qt_preprocess.mak

KeepassX.build
